body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #333;
	line-height: 1.5em;
}

h1 {
	font-family: "Book Antiqua", Georgia, Palatino, Times, "Times New Roman", serif;
	font-size: 2em;
	display: inline;
}

h2 {
	padding: 0.5em 0 0 0;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ccc;
}

div#toc h2 {
	padding-top: 0.5em;
	border-bottom: 1px solid #fff;
}

h3 {
	padding: 0;
	margin: 0.3em 0 0.5em 0;
	font-size: 1.1em;
}

h4 {
	padding: 0;
	margin: 0.1em 0 0.3em 0;
	font-size: 1em;
}

div#toc h4 {
	padding-top: 0.5em;
}

h4.inline {
	display:inline;
	padding-right: 1em;
}

img {
	padding: 1px;
	border: 1px solid black;
	margin: 5px;
}

img.banner {
	width:100%;
	height: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

img.screenshot {
	float: right;
	margin-right: 0px;
}

img.icon {
	border: none;
	vertical-align: bottom;
}

img.attributeicon {
	border: none;
	vertical-align: bottom;
	margin: 0px 0px 5px 0px;
}

img.downloadicon {
	border: none;
	vertical-align: middle;
	margin: 0px 0.5em 0.5em 0px;
}

img.miniobjecticon {
	border: none;
	margin: 0;
	padding: 0 1px 0 0;
	width: 1em;
	height: 1em;
}

p {
	padding: 0 0 1em 0;
	margin: 0;
}

p.warning {
	background-color: #fcc;
	color: #ff0000;
	padding: 0.5em;
}

p.footnote {
	font-size: 0.7em;
	line-height: 1.25em;
}

div.virtualPath {
	display: block;
	background-color: #cfc;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

div.deprecatedVirtualPath {
	margin-top: 0.2em;
	display: block;
	background-color: #fcc;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

div.thumbnailcontainer {
	float: left;
	height: 375px;
	width: 300px;
	padding-right: 1em;
	text-align: center;
}

div.thumbnailcontainer img {
	max-height: 300px;
	margin: 0;
}

div.objectlogocontainer {
	padding-top: 1em;
	width: 100px;
	float: left;
}

div.objectlogocontainer img {
	max-width: 50px;
}

div.highlightbox {
	background-color: #EEEEFF;
	border: 1px solid #AAAACC;
	margin: 1em 0 2em;
	padding: 1em 1.5em;
}

p#version {
	padding: 0.5em 0 0 0;
	margin: 0;
}

div#header {
	display: block;
	color: #fff;
	padding: 1em 1em 1em 2em;
	margin-top: -100px;
}

div#content {
	clear:both;
	margin: 0.5em 1em 0 2em;
	padding-bottom: 1em;
}

div#homecontent {
	float: left;
	margin: 0.5em 320px 0 2em;
	padding-bottom: 1em;
}

div#breadcrumbs {
	margin: 0.5em 2em 0 2em;
}

div#toc {
	font-size: 0.9em;
	width: 270px;
	background-color: #ccf;
	margin: 1em 1em 1em 0;
	padding: 0.5em;
	position: absolute;
	right: 0;
}

div#homeshare {
	float: right;
}

div#share {
	float: right;
}

div#homeshare a,
div#share a {
	border-bottom: none;
}


div#google {
 display: block;
 height: 30px;
 background-color: #3333aa;
 padding-top: 0.5em;
 padding-left: 2em;
 min-width: 800px;
}

div#footer {
	clear: both;
	border-top: 1px dotted #ccc;
	margin-left: 2em;
	margin-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #777;
	font-size: 0.8em;
	text-align: left;
	line-height: normal;
}

div#twitter {
	padding-top: 3em;
}
div#twitter a {
	border-bottom: none;
}

div.clear {
	clear:both;
}

ul {
}

div#toc ul {
}

ul.inline {
	list-style: none;
	margin: 0;
	padding: 0;
	list-style-type: disc;
	list-style-image: url(bullet_object.gif);
}

ul.inline li { display: inline; }
ul.inline li:after { content: " | "; } 
ul.inline li:last-child:after { content: ""; }

div#breadcrumbs ul.inline {
	line-height: 2.0em;
	float: left;
	display: inline;
}

div#toc ul.inline {
	font-size: 0.7em;
	line-height: 2.0em;
}

ul.mainItemDetails {
}

ul.mainItemDetails li.note {
	list-style-image: url(note.gif);
}

ul.secondaryItemDetails {
	font-size: 0.8em;
}

ul.dimensions {
 width: 50px;
 height: 61px;
 background: url(cube.gif);
 background-repeat: no-repeat;
 margin: 1em 0 1em 5em;
 padding: 0;
 position: relative;
}

ul.dimensions li {
	white-space: nowrap;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	position: absolute;
}

ul.dimensions li#width {left: 35px; top: -15px;}
ul.dimensions li#height {right: 55px; top: 25px; text-align: right;}
ul.dimensions li#depth {left: 50px; top: 40px;}

.fieldTitle {
	font-weight: bold;
}

.fieldValue {
}

a {
	color: #33a;
	text-decoration: none;
	border-bottom: 1px dashed #aab;
}

a.nounderline {
	border-bottom: none;
}

h1 a {
	border-bottom: none;
	color: white;
}

h2 a {
	border-bottom: none;
}

a.shaded {
	background-color: #eef;
}

span.tooltip {
	position: relative; 
	font-style: italic;
	color: #000;
	text-decoration: none;
	cursor: default;
	z-index: 0;
}

span.tooltip:hover {
	font-size: 100%;	/* IE/Win requires some link change on hover in order to show the tooltips */
	z-index: 50;
}

span.tooltip span {
	display: none;
	line-height: normal;
}

span.tooltip:hover span {
	display: block;
	position: absolute;
	top: 2em; 
	left: 0;
	border: 1px solid #33a;
	background-color: #ddf; 
	color: #000;
	padding: 0.5em;
	font-size: 0.8em;
	max-width: 200px;
}

p#version {
	color: #ccf;
}

p#version a {
	color: #ccf;
}

.hide {
	display: none;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.hoverimage {
	position: relative;
	z-index: 0;
}

.hoverimage:hover {
	background-color: transparent;
	z-index: 50;
}

.hoverimage span{ /*CSS for enlarged image*/
	position: fixed;
	background-color: #fff;
	padding: 0;
	right: -1000px;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.hoverimage span img{ /*CSS for enlarged image*/
}

.hoverimage:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 7em;
	right: 310px; /*position where enlarged image should offset horizontally */
}

.formLeft {
	width: 300px;
	float: left;
	clear: left;
	text-align: right;
	padding-right: 15px;
	white-space: nowrap;
	min-width: 5em;
}

.formRight {
	width: 400px;
	float: left;
	min-width: 5em;
}

/* Collapsing menu */

a.foldable {
	background-image: url('plus.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 2em ! important;
}

a.folded {
	background-image: url('minus.png');
}

ul.menu, ul.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}

/* Top level items */
ul.menu li a {
	background-color: #444;
  color: #fff;	
  padding: 0.5em;
  border: none;
}

ul.menu li a:hover {
	background-color: #000;
}

/* Level 1 items */
ul.menu li ul li a {
	background-color: #676767;
  color: #FFF;
  border-left: 0.25em #444 solid;
  padding-left: 0.75em;
  border-bottom: none;
}

ul.menu li ul li a:hover {
	background-color: #3333b4;
  color: #fff;
}

/* Level 2 items */
ul.menu li ul li ul li a {
	background-color: #eeeeff;
  color: #000;
  border-left: 0.5em #444 solid;
  padding-left: 1.25em;
}

/* Level 3 items */
ul.menu li ul li ul li ul li a {
  border-left: 0.75em #444 solid;
  padding-left: 1.5em;
}

/* Downloads */
ul.downloads li {
	list-style-type: none;
}

ol {
	margin-top: 0;
	-webkit-margin-after:0;
	padding-bottom: 1em;
}
